.App {
  text-align: center;
}


.bg-header {
  background-color: #A25576;
  height: 120px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: white;
}
h1{
 padding-top: 50px;
 font-weight: 400;
 font-size: 65px;
}

.justify-content-center {
  background-color: #A25576;
}
.draw-border {
  color: white;
}