.App {
  text-align: center;
}


.bg-header {
  background-color: #A25576;
  height: 120px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: white;
}
h1{
 padding-top: 50px;
 font-weight: 400;
 font-size: 65px;
}

.justify-content-center {
  background-color: #A25576;
}
.draw-border {
  color: white;
}
a.nav-btn {
  font-size: 15px;
}
div.footer-bg {
  background-image: url('https://cdn11.bigcommerce.com/s-0d1a4/images/stencil/1280x1280/i/silk-wedding-bouquets-artificial-flowers-blush-pink-thebridesbouquet__20460.original.jpg');
  height: 150px;
  text-align: center;
}
span.footer-font {
  font-family: 'Roboto Slab', serif;
  color: white;
  font-size: 30px;
}
span.footer-ido {
  font-family: 'WindSong', cursive;
  color: white;
  font-size: 70px;
}
h1.home-h1 {
  font-family: 'Roboto Slab', serif;
  color: black;
  text-align: center;
}
div.location-style {
  text-align: center;
  color: black;
  font-family: 'Roboto Slab', serif;
}
h4 {
  font-family: 'WindSong', cursive;
}
p.font {
  font-family: 'Roboto Slab', serif;
}