.App {
  text-align: center;
}


.bg-header {
  background-color: #A25576;
  height: 120px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: white;
}
h1{
 padding-top: 50px;
 font-weight: 400;
 font-size: 65px;
}

.justify-content-center {
  background-color: #A25576;
}
.draw-border {
  color: white;
}
a.nav-btn {
  font-size: 15px;
}
div.footer-bg {
  background-image: url('https://cdn11.bigcommerce.com/s-0d1a4/images/stencil/1280x1280/i/silk-wedding-bouquets-artificial-flowers-blush-pink-thebridesbouquet__20460.original.jpg');
  height: 150px;
  text-align: center;
}
span.footer-font {
  font-family: 'Roboto Slab', serif;
  color: white;
  font-size: 30px;
}
span.footer-ido {
  font-family: 'WindSong', cursive;
  color: white;
  font-size: 70px;
}
h1.home-h1 {
  font-family: 'Roboto Slab', serif;
  color: black;
  text-align: center;
  margin:auto;
}
div.location-style {
  text-align: center;
  color: black;
  font-family: 'Roboto Slab', serif;
}
h4 {
  font-family: 'WindSong', cursive;
}
p.font {
  font-family: 'Roboto Slab', serif;
  margin: auto;
}
h4.story-font {
  font-size: 40px;
  text-align: center;
  margin: 10px auto auto auto;
}
div.story-graphs {
  font-size: 20px;
  border: solid 3px #A25576;
  margin: 15px 50px;
  padding: 15px;
  color: black;
  text-align: justify
}
h5.home-h5 {
  font-family: 'Roboto Slab', serif;
  color: black;
  text-align: center;
  font-size: 20px;
  margin: auto;
}
button.btn-rsvp {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  background-color: #A25576;
  border: solid #A25576;
  color: white;
  margin-top: 40px;
}
div.home-center {
  text-align: center;
}
p.home-p {
  color: black;
}
div.img-size { 
  text-align: center;  
  padding: 15px;  
  border: 3px solid #A25576;  
  margin: 35px 55px;
}
ul.thumbs {
  text-align: center;
}
h4.img-title {
  text-align: center;
  font-size: 45px;
  color: black;
  margin: 15px auto 0 auto;
}
form.edit-form {
  border: solid #A25576;
  margin: 20px 35px 35px ;
  padding: 40px;
}
input[type='submit'] {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  background-color: #A25576;
  border: solid #A25576;
  color: white;
}
input.textarea-size {
  height: 160px;
}

button.update-btn-rsvp {
  font-family: 'Roboto Slab', serif;
  font-size: 10px;
  background-color: #A25576;
  border: solid #A25576;
  color: white;
}